region           = "us-chicago-1"
tenancy_ocid     = "ocid1.tenancy.oc1..REPLACE_ME"
user_ocid        = "ocid1.user.oc1..REPLACE_ME"
fingerprint      = "aa:bb:cc:dd:REPLACE_ME"
private_key_path = "~/.oci/oci_api_key.pem"
compartment_ocid = "ocid1.compartment.oc1..REPLACE_ME"
project_name     = "proviso"
environment      = "dev"
adb_admin_password = "ChangeMe_1!"
